
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel-group">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4>Error occured: @Html.Raw(Session["ErrorMessage"])</h4>
            </div>
            <div class="panel-body">
                <strong>Details:</strong>
                @if (Request.IsLocal)
                {
                    @Html.Raw(Session["ErrorStackTrace"])
                }
                <p style="font-size: .75em; text-align:right;">Nobody helps you, forget it.</p>
            </div>
        </div>
    </div>
</div>

