
@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-3">Thank you!</h1>
    <p class="lead">
        Your voice saves the world
    </p>
</div>

